body{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

header {
  display: flex; 
  justify-content: space-between;
  padding: 10px;
}
header img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
   
}

#logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
#navBar{
        display: flex;
        align-items: center;
      
        
}
header h1 {
    font-size: xx-large;
    font-weight: bolder;
    color: #12a7ba;
}

nav ul{
    display: flex;
    gap: 50px;
}

ul li {
   font-size: xx-large;
   padding: 10px;
   border: rgb(25, 151, 229) solid;
}
a { text-decoration: none; color: black;}
a:hover{
    color: #12a7ba;;
}
main{
    display: flex; 
    flex-direction: column;
align-items: center;
gap: 20px;
}
main h2 {
    width: 100%;
    height: 150px;
    text-align: center;
    color: white;
    font-size:5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(25, 151, 229);
    padding-top: 70px;
}

table{
    background-color: rgb(25, 151, 229);
    height: 200px;
    width: 60%;
    border: rgb(25, 151, 229) solid 20px; ;
}
th , td {
    text-align: center;
    padding: 50px;
    border: white solid 3px;
}
th{
    font-size: xx-large;
    font-weight: bolder;
    color: white;
}
td{
    font-size: x-large;
    font-weight: bolder;
    color: white;
}

footer{
text-align: center;

}
footer h3 {
    align-self: flex-end;
    text-align: center;
    color: white;
    font-size:3rem;
    font-family:  'Arial Narrow', Arial, sans-serif;
    background-color: rgb(21, 133, 202);
    padding: 20px;
}

.pending{
    background-color: rgb(238, 57, 37);
}

.finished{
    background-color: rgb(72, 255, 0);
}
input.largerCheckbox {
    width: 20px;
    height: 20px;
    margin-left: 30px;
    cursor: pointer;
}



